
		body {
			background-image:url('1.jpg');
		}
		p {
			text-align: center;
  			color: red;
  		} 
		h1{
			color: green;
		}
		h1 {
			border:2px solid pink;
		}
		h2 {
			background-color: lightblue;
		}
		a:link {
			color:black;
			background-color:transparent;
			text-decoration:none;
		}
		a:visited{
			color:green;
			background-color:transparent;
			text-decoration:none;
		}
		a:hover{
			color:blue;
			background-color:transparent;
			text-decoration:underline;
		}
		a:active{
			color: purple;
			background-color:transparent;
			text-decoration:underline;
		}
		table, th, td {
  			border: 1px solid black;
		}	
	
		